// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'components/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'components/cart';
@import 'components/card';
@import 'components/product';

.bgr-success{
    background-color: #2ecc71 !important;
}

hr {
    width:20%;text-align:left;margin-left:0; background-color: #265c78; height: 1px
}

.text-color{
    color: #265c78;
}

ul.pagination {
    justify-content: center !important
}

.page-item.active .page-link{
    background-color: #265c78 !important;
    border-color: #265c78 !important;
    color: white !important;
}

.page-link{
    color: #265c78 !important;
}
