.notification {
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

@media only screen and (max-width: 1140px) {
    .notification .badge {
        left: 17px;
    }
}
@media only screen and (min-width: 1140px) {
    .notification .badge {
        right: -4px;
    }
}

.notification .badge {
    position: absolute;
    top: 0;
    padding: 3px 6px;
    border-radius: 50%;
    background: red;
    color: white;
}
